<html>

<head>
    <title>MongoDB 中文全文检索</title>
</head>

<body>
    <form action="/" method="post">
        <legend>MongoDB 中文全文检索，请搜索:</legend>
        <p><input name="desc" placeholder="用例名称" value="{{ desc }}"></p>
        <p><button type="submit">Search</button></p>
    </form>
    {% if posts %}
        <p> ---------------------------------------------- </p>
        {% for post in posts %}
            {% for item in post %}
                <p>{{ item }}</p>
            {% endfor %}
            <p> ---------------------------------------------- </p>
        {% endfor %}
    {% endif %}
</body>

</html>